<!-- Button trigger modal -->
<% if session["current_user"]["role"] != 1 %>
<button type="button" class="btn btn-primary me-1 float-end px-2 py-1" data-bs-toggle="modal" data-bs-target="#showCommentClassRoom" data-action="click->dashboard#showToolsTip click->dashboard#expandComment" data-dashboard-role-param="<%= session["current_user"]["role"] %>">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"/>
    </svg>
</button>
<% end %>

<!-- Modal -->
<div class="modal fade" id="showCommentClassRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="showCommentClassRoomLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showCommentClassRoomLabel">Behaviour comment list</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= content_tag :table, class: "table table-striped dashboard-hw-table", id: "table-behaviour-comment-list", width: "100%" do %>
                <thead>
                    <tr>
                        <% if session["current_user"]["role"] != 3 %>
                            <th class="text-center column-0">Student name</th>
                        <% end %>
                        <th class="text-start column-1">Subject</th>
                        <th class="text-start column-2">Comment</th>
                        <th class="text-center column-3">Rating</th>
                        <th class="text-start column-4">Comment date</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @comment.present? %>
                        <% @comment.each do |c| %>
                        <tr>
                            <% if session["current_user"]["role"] != 3 %>
                                <td class="truncate" data-bs-toggle="tooltip" data-bs-html="true" title="<span class='tooltip-text'><%= c.firstname %> <%= c.lastname %></span>">
                                    <%= c.firstname %> <%= c.lastname %>
                                </td>
                            <% end %>
                            <td class="truncate" data-bs-toggle="tooltip" data-bs-html="true" title="<span class='tooltip-text'><%= c.subject %></span>"><%= c.subject %></td>
                            <td class="truncate" data-bs-toggle="tooltip" data-bs-html="true" title="<span class='tooltip-text'><%= c.comment %></span>"><%= c.comment %></td>
                            <td class="text-center">
                                <% for i in 0..c.rating-1 do %>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill rating-icon active" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <% end %>
                            </td>
                            <td><%= c.updated_at.strftime("%d/%m/%Y") %></td>
                        </tr>
                        <% end %>
                    <% end %>
                </tbody>
                <% end %>
            </div>
            <% if session["current_user"]["role"] == 1 %>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#showCommentClassRoomAdmin" data-action="click->dashboard#showToolsTip click->dashboard#expandCommentAdmin" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
            </div>
            <% end %>
        </div>
    </div>
</div>