<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="upload_profile_pic_btn" data-bs-toggle="modal" data-bs-target="#uploadPictureProfile" style="display:none;">
  Upload profile picture
</button>

<!-- Modal -->
<div class="modal fade" id="uploadPictureProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadPictureProfileLabel" aria-hidden="true" data-controller="upload-profile-pic">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <%= form_for :user, url: user_upload_profile_picture_path(format: :json), method: :POST, html: { data: { "action": "submit->upload-profile-pic#onUploadSuccess" } }  do |f| %>
        <div class="modal-header">
            <h5 class="modal-title" id="uploadPictureProfileLabel">Upload profile picture</h5>
        </div>
        <div class="modal-body">
            <div class="canva-profile-photo text-center mb-3 m-auto">
                <div class="avatar-preview d-inline">
                    <%= image_tag("#{APP_CONFIG[:application_path]}/pictures/no_image.jpg", id: "avatar_profile", class: "img-profile border rounded-circle", width: "300px", height: "300px") %>
                </div>
                <div class="avatar-upload justify-content-center d-inline ms-3 mt-3" style="text-align-last: center;">
                    <%= f.file_field :profile_pic, accept: ".png, .jpg, .jpeg .gif", data: { action: "change->upload-profile-pic#uploadAvatar" }, style: "width: 300px" %>
                </div>
                <%= f.hidden_field :user_id, value: "#{session["current_user"]["id"]}" %>
            </div>
        </div>
        <div class="modal-footer">
            <%= f.submit "Skip", class: "btn btn-skip", "data-bs-dismiss": "modal" %>
            <%= f.submit "Upload", class: "btn btn-primary", id: "upload-profile-btn", disabled: true %>
        </div>
      <% end %>
      <button type="button" data-bs-dismiss="modal" id="upload-profile-close-btn" style="display: none;">close</button>
    </div>
  </div>
</div>