<style>
    .div-body{
        margin-left: 0px !important;
    }
</style>

<div class="background-div">
    <div class="m-auto" id="div-login" data-controller="change-password">
        <%# <div class="w-100 text-center">
            <img src="/pictures/logo.png" class="position-absolute" id="logo-login" width="75px" />
        </div> %>
        <div class="px-5 py-5" id="login-box">
            <div class="mb-4">
                <h2 id="welcome-text">Change Password</h2>
            </div>
            <%= form_for :form_change_password, url: login_change_password_path(format: :json), method: :POST do |f| %>
                <div class="mb-3">
                    <label for="username" class="form-label">Username :</label>
                    <%= f.text_field :username, value: @user, class: "form-control", id: "username", readonly: true, disabled: true %>
                    <%= f.hidden_field :user_id, value: @id, id: "user_id" %>
                </div>
               
                <div class="mb-3">
                    <label for="password" class="form-label">New password :</label>
                    <%= f.password_field :password, class: "form-control d-inline", id: "password", 'aria-describedby': "passwordHelpBlock", data: { action: "keyup->change-password#validatePassword", "change-password-target": "password" } %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyeglasses position-absolute mt-2 view-password" viewBox="0 0 16 16" data-action="mousedown->change-password#showPassword mouseup->change-password#hidePassword">
                        <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                    </svg>
                    <div id="passwordHelpBlock" class="form-text">
                        <p class="mb-1 ms-2 password-rule">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="display: none;">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                            </svg> มีตัวอักษรอย่างน้อย 8 ตัวอักษร
                        </p>
                        <p class="mb-1 ms-2 password-rule">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="display: none;">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                            </svg> มีตัวอักษรพิมพ์ใหญ่อย่างน้อย 1 ตัว
                        </p>
                        <p class="mb-1 ms-2 password-rule">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="display: none;">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                            </svg> มีตัวเลขอย่างน้อย 1 ตัว
                        </p>
                        <p class="mb-1 ms-2 password-rule">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="display: none;">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                            </svg> มีเครื่องหมายหรืออักขระพิเศษอย่างน้อย 1 ตัว (~`!@#$%^&*_-+=:;\"\',.?)
                        </p>
                    </div>
                    <%= f.hidden_field :password_valid, value: 0, id: "password_valid" %>
                </div>

                <div class="mb-5">
                    <label for="confirm_password" class="form-label">Confirm new password :</label>
                    <%= f.password_field :confirm_password, class: "form-control d-inline", id: "confirm_password", data: { "change-password-target": "confirmPassword" } %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyeglasses position-absolute mt-2 view-password" viewBox="0 0 16 16" data-action="mousedown->change-password#showConfirmPassword mouseup->change-password#hideConfirmPassword">
                        <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                    </svg>
                </div>
        
                <div class="mb-3 text-center">
                    <button class= "btn btn-primary w-50" data-controller="change-password" data-action="click->change-password#validateNewPassword">Change password</button>
                    <%= f.submit "Change password", class: "btn btn-primary w-50", id:"submit-change-password", style: "display:none" %>
                </div>
            <% end %>
        </div>
    </div>
</div>