<ul class="nav nav-tabs nav-tabs-dashboard z-index-99">
    <% default_category = 1 %>
    <% @category.each_with_index do |(k, v), index| %>
        <% is_active = index == 0 ? "active" : "" %>
        <% default_category = k if index == 0 %>
        <% default_category = params["category"] if params["category"].present? %>
        <li class="nav-item text-center">
            <a class="nav-link dashboard-tab <%= is_active %>" id="dashboard-tab-<%= v["name_en"] %>" data-action="click->homework#selectCategory" data-homework-category-param="<%= k %>"><%= v["name_en"].capitalize %></a>
        </li>
    <% end %>
</ul>

<div class="head-subject" style="background-color: green">
    <h5 class="py-5 px-3 mb-0"><%= subject_name %></h5>
    <div class="dropdown float-end d-inline">
        <ul class="dropdown-menu">
            <% @sub_homework.each do |s| %>
                <li><button type="button" class="dropdown-item" data-action="click->homework#selectHomeworkType" data-homework-homework-type-param="<%= s.id %>"><%= s.homework_type.capitalize %></a></li>
            <% end %>
            <li></li>
        </ul>
    </div>
</div>

<div class="text-center m-auto border-bottom mb-3">
    <% @sub_homework.each_with_index do |s, index| %>
        <% is_active = index == 0 ? "active" : "" %>
        <div class="tab-kind d-inline-block <%= is_active %>" data-action="click->homework#selectHomeworkType" data-homework-homework-type-param="<%= s.id %>"><%= s.homework_type.capitalize %></div>
    <% end %>
    <div class="d-inline-block ms-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg d-inline-block dropdown-item" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#addHomeworkTypeModal">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
    </div>
</div>

<%= render partial: "add_homework_type", locals: {id: params["id"], subject: subject_name, category_id: default_category} %>

<% if @homework.blank? %>
    <div class="mb-3 w-75 border rounded-3 p-3 m-auto text-center">
        <button class="btn btn-homework-list">No homework</button>
    </div>
<% else %>
    <div class="mb-3 w-75 border rounded-3 p-3 m-auto">
        <%= render partial: "table_homework" %>
    </div>
<% end %>

<div class="div-add-homework btn-group dropup position-absolute bottom-0 end-0 me-3 mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill icon" viewBox="0 0 16 16" data-bs-toggle="dropdown" aria-expanded="false">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
    </svg>

    <ul class="dropdown-menu">
        <% @sub_homework.each do |s| %>
            <li><a class="dropdown-item" href="<%= new_homework_path(subject: params["id"], category: default_category, type: s.homework_type) %>"><%= s.homework_type.capitalize %></a></li>
        <% end %>
    </ul>
</div>