<div class="text-center m-auto border-bottom mb-3">
    <% @sub_homework.each_with_index do |s, index| %>
        <% is_active = index == 0 ? "active" : "" %>
        <div class="tab-kind d-inline-block <%= is_active %>" id="sub-tab-<%= s %>" data-action="click->homework#selectHomeworkType" data-homework-url-param="<%= homework_show_homework_table_path(id: subject_id, tag_id: tag_id, category: category_id, type: s.id) %>" data-homework-homework-type-param="<%= s %>"><%= s.homework_type.capitalize %></div>
    <% end %>
    <div class="d-inline-block ms-3">
        <% if can_view_menu?([32])%>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg d-inline-block dropdown-item" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#addHomeworkTypeModal">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
        <% end %>
    </div>
</div>

<%= render partial: "add_homework_type", locals: {id: subject_id, subject: subject_name, category_id: category_id} %>

<% if can_view_menu?([33])%>
    <div class="div-table-homework">
        <%= render partial: "table_homework_list", locals: {homework: @homework} %>
    </div>
<% end %>

<% if can_view_menu?([34])%>
    <div class="div-add-homework btn-group dropup position-absolute bottom-0 end-0 me-3 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill icon" viewBox="0 0 16 16" data-bs-toggle="dropdown" aria-expanded="false">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
        </svg>

        <ul class="dropdown-menu">
            <% @sub_homework.each do |s| %>
                <li><a class="dropdown-item" href="<%= new_homework_path(subject: subject_id, category: category_id, tag: tag_id, type: s.id) %>"><%= s.homework_type.capitalize %></a></li>
            <% end %>
        </ul>
    </div>
<% end %>