<div class="mb-3" data-controller="homework">
    <div class="choices" id="div-choices-<%= question_no %>">
        <% if answer.blank? %>
            <%= render partial: "answer_choice", locals: {question_no: question_no, answer_no: 1, answer: nil} %>
            <% answer_no = 1 %>
        <% else %>
            <% answer.each do |ans| %>
                <%= hidden_field_tag "form_questions[question#{question_no}][id]", ans[0], id: "question_id" %>
                <%= render partial: "answer_choice", locals: {question_no: question_no, answer_no: ans[1], answer: ans[2], image_thumbnail: ans[3]} %>
            <% end %>
            <% answer_no = answer.length %>
        <% end %>
    </div>

    <div class="add-remove-choice mb-3" id="div-icon-add-remove-choice-<%= question_no %>">
        <div class="add-choice d-inline" id="add-choice-btn-<%= question_no %>" data-action="click->homework#addChoices" data-homework-question-no-param="<%= question_no %>" data-homework-answer-no-param="<%= answer_no %>" data-homework-url-param="<%= homework_add_choice_path() %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-node-plus-fill" viewBox="0 0 16 16">
                <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13m.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0"/>
            </svg> Add choice
        </div>
        <% if answer_no > 1 %>
            <div class="remove-choice d-inline ms-3" id="icon-remove-choice-<%= question_no %>" data-action="click->homework#removeChoice" data-homework-question-no-param="<%= question_no %>" data-homework-answer-no-param="<%= answer_no %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-node-minus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8a5 5 0 0 1-9.975.5H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025A5 5 0 0 1 16 8m-2 0a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5A.5.5 0 0 0 14 8"/>
                </svg> Remove choice
            </div>
        <% end %>
    </div>
</div>